*{
	font-family: serif;
	font-size: 20px;
}

.aa {
	font-size: 60px;
}

#projects, #home, #contact, #about {
	font-size: 32px;
}

body{
	  background: url(./portfolio_img/bg_dark.jpg) center center / cover no-repeat fixed;
	  color: white;
}

.test {
	padding-top:100px;
}

.navbar{
	font-family:'Amatic SC', cursive;
	-webkit-text-stroke: 1px black;
	font-size: 30px;
}

.navbar-brand{
	font-size: 30px;
}

.navbar-nav li{
	font-size: 30px;
	font-weight: bold;
	-webkit-text-stroke: 1px black;
}

.navbar-toggler-icon {
  background-image: white;
}

.navbar-toggler{
  background-color: #ffffff;
}

.jumbotron {
    background-image: url(./portfolio_img/black.png);
    background-size: cover;
    background-position: center 60%;
    height: 500px;
}

.carousel-inner img{
	height: 300px;
}

.carousel-caption h5, .carousel-caption p{
	-webkit-text-stroke: 1px blue;
	color: black;
}

.modal-title, .modal-body, .modal-footer{
	color: black;
}

.pre-footer {
	background: #4d4d4d;
}

.flex-column{
	
}

.footer {
	background: #333333;
	text-align: center;
}
