*{
	font-family: 'Amatic SC', cursive;
}

body{
	  background: url(./portfolio_img/bg_dark.jpg) center center / cover no-repeat fixed;
	  color: white;
}

.test {
	padding-top:100px;
}

.navbar{
	font-family: 'Amatic SC', cursive;
}

.navbar-toggler-icon {
  background-image: white;
}

.navbar-toggler{
  background-color: #ffffff;
}

.jumbotron {
    background-image: url(./portfolio_img/black.png);
    background-size: cover;
    background-position: center 60%;
    height: 500px;
}

.carousel-inner img{
	height: 300px;
}

.pre-footer {
	background: #4d4d4d;
}

.flex-column{
	
}

.footer {
	background: #333333;
	text-align: center;
}
